.name {
  left: 50%;
  bottom: 8px;
  position: absolute;
  transform: translateX(-50%);

  font-size: 14px;
  font-weight: 500;

  color: var(--white);
  cursor: pointer;
}

.content {
  pointer-events: auto;
}
