{
  "semi": false,
  "printWidth": 110,
  "quoteProps": "consistent",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "bracketSameLine": true,
  "singleAttributePerLine": true,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/scene(.*)$",
    "",
    "^@/helper(.*)$",
    "",
    "^./(.*)$",
    "",
    "^../(.*)$"
  ],
  "importOrderParserPlugins": ["jsx", "typescript", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.2.2"
}
