@font-face {
  font-family: 'Metropolis';
  src: url('/font/metropolis-thin.woff2') format('woff2');
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/font/metropolis-light.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/font/metropolis-semibold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

:root {
  --border: rgba(250, 250, 250, 0.8);

  --primary: rgba(4, 8, 12, 0.8);

  --text-primary: rgb(250 250 250);
  --text-secondary: rgba(250, 250, 250, 0.4);
}

html,
body,
#root,
.main,
.solar {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  background: black;

  color: var(--text-primary);
  font-size: 16px;
  font-family: system-ui, sans-serif;
}
