.panel {
  top: 16px;
  right: 16px;

  width: 200px;
  padding: 12px;
  position: absolute;

  border: 1px solid var(--border);
  border-radius: 8px;

  background: var(--primary);
}

.panel p {
  margin-top: 0;
  margin-bottom: 20px;
}

.panel dl {
  gap: 4px;
  grid-template-columns: auto 1fr;
  display: grid;

  font-size: 14px;
}

.panel dt {
  color: var(--text-secondary);
}

.panel dd {
  justify-self: end;
}
